html{
    margin: 0;
    margin-right: -20px;
    overflow: hidden;
}
body{
    background-image: url(./img/pagebg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    width: 100vw;
    margin: 0;
}
.colone{
    width: 45%;
    display: inline-flex;
}
.openhours{
    background-color: rgba(224, 251, 255, 0.671);
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 70px 40px;
    border-top: 11px double rgb(43, 48, 110);
    border-right: 5px double rgb(43, 48, 110);
    border-bottom: 11px double rgb(43, 48, 110);
    border-left: 5px double rgb(43, 48, 110);
    box-shadow: -1px 2px 3px rgb(132, 220, 255);
}
table{
    color:rgb(43, 48, 110);
    letter-spacing: 1.5px;
}
td{
    font-family: 'Sawarabi Mincho', sans-serif;
}
th{
    font-family: 'Prompt', sans-serif;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.coltwo{
    width: 45%;
}
p {
    margin-top: 30%;
    font-family: 'Prompt', sans-serif;
    font-size: 35px;
    color: rgb(43, 48, 110);
    background-color: rgba(239, 249, 253, 0.432);
    box-shadow: 1px 2px 3px rgb(132, 220, 255);
    padding: 10px;
    border-radius: 7px;
    text-align: center;
}
#write {
    color: rgb(80, 82, 112);
}
#clock {
    font-size: 30px;
    font-family: 'Sawarabi Mincho', sans-serif;
    padding: 10px;
    text-align: center;
    color: rgba(224, 251, 255, 0.753);
    letter-spacing: 2px;
    position: absolute;
}
.clockpos {
    position: relative;
    margin-top: 20%;
}